mat-sidenav-container {
    min-height: 85%;
}

mat-sidenav {
    width: 100%;
    color: whitesmoke;
}

#main-toolbar {
    height: 15%;
    padding: 0 10%;
}

ex-logo {
    height: 80%;
    display: flex;
    align-items: center;
}

span.sidenav-navigation {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

span.sidenav-navigation a {
    font-size: 42px;
    font-weight: 400;
    margin-top: 10%;
}

a.activeRouter {
    text-decoration: overline;
}

@media only screen and (max-width: 600px) {

    #main-toolbar {
        padding: 0 10px;
    }

    ex-logo {
        height: 60%;
    }
}