<mat-toolbar id="main-toolbar">

    <button mat-icon-button aria-label="menu" *ngIf="isSmallScreen" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="navigation" *ngIf="!isSmallScreen">
        <a routerLink="/games" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeRouter" mat-button>Games</a>
        <a routerLink="/about" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeRouter" mat-button>About</a>
    </span>

    <span class="flex-spacer"></span>

    <ex-logo [type]="'default-light'"></ex-logo>

</mat-toolbar>
<mat-sidenav-container>

    <mat-sidenav #sidenav>

        <span class="sidenav-navigation">
            <a routerLink="/games" [routerLinkActiveOptions]="{exact: true}" class="no-hover-effect" routerLinkActive="activeRouter" mat-button (click)="sidenav.close()">Games</a>
            <a routerLink="/about" [routerLinkActiveOptions]="{exact: true}" class="no-hover-effect" routerLinkActive="activeRouter" mat-button (click)="sidenav.close()">About</a>
        </span>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>